
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dycqf6xbh
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=berry-clothing
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
CLOUDINARY_API_SECRET=YXbGtVjUo2Asavbg6U8wpKvOztc
